.beer-container {

    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}


.changePage {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: #222322;
    font-size: 1.4rem;

    @media screen and (min-width: 700px) {
        width: 65%;
    }

    .left {

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        img {
            margin-right: 2vw;
        }

    }

    .right {

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        img {
            margin-left: 2vw;
        }

    }


    img {
        height: 3vh;
    }
}