@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fuzzy+Bubbles:wght@700&family=Gaegu&family=Indie+Flower&family=Long+Cang&family=Nerko+One&family=Patrick+Hand+SC&family=Sunshiney&family=Swanky+and+Moo+Moo&family=Yomogi&display=swap');

.beerCard {

    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 54vw;
    color: #ddc6b6;
    border: 1px solid #ddc6b6;
    background-color: #262223;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;



    &__top {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2vw;
        align-items: center;
        text-align: center;

        img {
            width: 10vw;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }

    }

    &__middle {

        display: flex;
        justify-content: space-evenly;
        width: 90%;
        text-align: center;

    }

}
