.filter {

    background: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 6vh;
    justify-self: flex-end;

    &__input {

        background-color: #DDc6b6;
        border: none;
        width: 80vw;
        border-radius: 25px;
        height: 5vh;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: none;

    }

    &__input:focus {
        outline: none;
    }

    &__taps {

        max-width: 80%;
    }

}