.filter {

    background: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 8vh;
    justify-self: flex-end;

    &__input {

        color: #DDc6b6;
        border: none;
        width: 60vw;
        border-radius: 25px;
        height: 5vh;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #222322;
        border: 2px solid goldenrod;

    }

    &__input:focus {
        outline: none;
    }

}