main {

    display: flex;
    flex-direction: column;
    color: #ddc6b6;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    max-height: 80vh;

        h3 {
            width: 60%;
        }

}