main {

    display: flex;
    flex-direction: column;
    color: #ddc6b6;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    max-height: 90vh;
    text-align: center;

        .loadWrap {

            height: 400px;
            width: 280px;
            background-color: #222322;
            border-radius: 25px;
            height: 300px;
            border: 3px solid goldenrod;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                width: 50%;
            }

        }

        .entrycard {
            height: 400px;
            width: 280px;
            background-color: #222322;
            border-radius: 25px;
            height: 300px;
            border: 3px solid goldenrod;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

        }

        input {

            color: #DDc6b6;
            border: none;
            width: 60vw;
            border-radius: 25px;
            height: 5vh;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #222322;
    
        }
    
        input:focus {
            outline: none;
        }

}

.barbot {

    width:300px;
    border-radius: 25px;
    border: 3px solid goldenrod;
    background-color: #222322;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;



    button {

        width: 50px;
        border-radius: 15px;
        background-color: rgb(34, 34, 124);
        color: #DDc6b6;

    }

}