main {

    display: flex;
    flex-direction: column;
    color: #ddc6b6;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    max-height: 90vh;
    text-align: center;

        h3 {
            width: 60%;
        }

}