.searchParams {

    display: flex;
    flex-direction: column;
    color: #DDc6b6;
    align-items: center;
    justify-content: space-around;
    background-color: #222322;
    border: 3px solid goldenrod;
    border-radius: 25px;
    width: 320px;
    height: 300px;

    .mainParam {

        height: 11vh;
        display:grid;
        grid-template-columns: 10fr 25fr 30fr 25fr 10fr;
        grid-template-areas: "arrL sideL mid sideR arrR";
        align-items: center;
        width: 99%;

        &__left {
            grid-area: arrL;
            height: 2vh;
            aspect-ratio: 1 / 1;
            justify-self: flex-start;
            margin-left: 1vw;
        }

        &__sideL {
            grid-area: sideL;
            justify-self: flex-start;
            font-size: 0.8rem;
            opacity: 0.8;
        }

        &__middle {
            grid-area: mid;
            font-size: 1.8rem;
            text-align: center;
        }

        &__sideR {
            grid-area: sideR;
            justify-self: flex-end;
            font-size: 0.8rem;
        }

        &__right {
            grid-area: arrR;
            height: 2vh;
            aspect-ratio: 1 / 1;
            justify-self: flex-end;
            margin-right: 1vw;
        }

    }

    .secondParam {

        height: 5vh;
        display:grid;
        grid-template-columns: 20fr 60fr 20fr;
        grid-template-areas: "arrL mid arrR";
        margin-top: 3vh;
        align-items: center;
        justify-items: center;
        width: 90%;

        &__left {
            grid-area: arrL;
            height: 2vh;
            aspect-ratio: 1 / 1;
        }

        &__param {
            grid-area: mid;
        }

        &__right {
            grid-area: arrR;
            height: 2vh;
            aspect-ratio: 1 / 1;
        }

    }

    .submit {

        background-color: #DDc6b6;
        margin-top: 4vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: 6vh;

        &__input {

            background-color: #DDc6b6;
            border: none;
            width: 80vw;
            border-radius: 25px;
            height: 5vh;
            text-align: center;

        }

        &__input:focus {
            outline: none;
        }

        &__button {

            background-color: rgb(38, 58, 104);
            width: 20vw;
            border-radius: 25px;
            margin-right: 1.5vw;
            height: 5.5vh;
            color: #DDc6b6;

        }

    }


}