.nav {

    margin-top: 2vh;
    display: flex;
    color: #ddc6b6;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;


    &__search, &__barman{

        background-color: #222322;
        color: #ddc6b6;
        width: 130px;
        border-radius: 25px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid goldenrod;

    }

}